* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
  overflow-x: hidden;
  /* background: black; */
}

.header{
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 0;
  display: flex;
  justify-content: center;
  /* z-index: 10; */
  z-index: 1000;
}

.logo {
  color: white;
  font-size: 30px;
  text-decoration: none;
  font-weight: 600;
  cursor: default;
}

.navbar{
  display: flex;
  gap: 40px;
  position: relative;
  z-index: 999;
}

.navbar a.glass-card {
  color: white !important;
  font-size: 18px;
  text-decoration: none;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  padding: 3px 5px;
  border-radius: 15px;
  transition: 0.3s;
  position: relative;
  z-index: 999;
    /* Glass Effect */
  background: rgba(189, 189, 189, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(189, 189, 189, 0.22);
}

.navbar a:hover{
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: rgba(255, 255, 255, 0.2);
}

div.glass-div{
  color: white !important;
  font-size: 18px;
  text-decoration: none;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  padding: 6px 10px;
  border-radius: 15px;
  transition: 0.3s;
  position: relative;
  z-index: 80;
    /* Glass Effect */
  background: rgba(189, 189, 189, 0.14);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(189, 189, 189, 0.22);
}

div#title-wrapper {
  /* margin-top: 80px; */
  color: white;
}

#title-wrapper h1{
  font-size: 100px;
}

section { 
  transition: all 0.3s ease-in-out;
  height: 100vh;
}
/* making each section fill the screen */
.snap-section {
  scroll-snap-align: start;
  /* scroll-margin-top: 30px; */
  height: 100vh;
  width: 100vw;
  scroll-snap-stop: always;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  /* background-image: url('purple-background.jpg') */
}

div#about-me{
  width: 60vw;
}

#about-me p{
  font-size: 25px;
}

.snap-section#projects {
  align-content: flex-start;
}

#social-links-and-contact{
  margin-top: 100px;
}

ul, ol {
    list-style: none;
}

#frontpage {
  z-index: 1;
  position: relative;
}

body {
    padding-top: 80px;
    font-family: "Consola", monospace;
    width: 100%;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    text-align: center;
    background: rgba(10, 10, 10, 0.99);
    color: white;
    background-image: url(background-large.jpg);
    background-size: 100% 500vh;
    background-repeat: no-repeat;
    /* background: linear-gradient(to right, #6185ff, #ff616f); */
    /* background-attachment: fixed; */
  }

  #Azim{
    border-radius: 50%;
    border: 5px solid black;
  }

  main {
    width: 100%;
    margin: auto;
    position: relative;
    border-radius: 5px;
    margin-top: 50px;
  }

  div {
    margin-bottom: 40px;
  }
  /* For safari formatting */
  .experience-logo-rectangle, .experience-logo-square {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    object-fit: contain;
}

  .experience-logo-rectangle{
    height: 50px;
    width: 170px;
    margin-right: 50px;
  }

  .experience-logo-square{
    height: 68px;
    width: 68px;
    margin-right: 50px;
  }

  div#experience li {
    display: flex;
    align-items: center;
  }
  

  footer{
    scroll-snap-type: none;
    scroll-snap-align: none;
    height: 100px;
    width: 100vw;
  }
  
  #contact-footer{
    height: 20vh;
    color: white;
    z-index: 9999;
    background: rgba(189, 189, 189, 0.14);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.3px);
    -webkit-backdrop-filter: blur(10.3px);
    border: 1px solid rgba(189, 189, 189, 0.22);
  }
/*   
  #social-links{
    margin-top: 20px;
    margin-bottom: 20px;
  } */

  .socials_container{
    display: flex;
    gap: 20px;
  }

  .socials_container a{
    background: rgba(244, 244, 244, 0.5);
    padding: 1em;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.5);
  }

  .socials_container a svg{
    height: 32px;
    fill: white;
  }
  