* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 200px;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 10px;
} */

#navbar{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 150px;
  height: 100%;
  background: null;
  gap: 10px;
  left: 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  background: rgba(255, 255, 255, 0.2);
}

/* scroll-snapping container*/
.snap-container{
  scroll-snap-type: y proximity;
  overflow-y: scroll;
  height: 100vh;
}

/* making each section fill the screen */
.snap-section{
  scroll-snap-align: start;
  height: 100vh;
  padding-top: 100px; /* to offset nav bar, which is fixed */
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
}



section {
  transition: all 0.3s ease-in-out;
}

ul, ol {
    list-style: none;
}

body {
    padding-top: 80px;
    font-family: "Consola", monospace;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    margin-left: 50px;
    /* background: linear-gradient(to right, #6185ff, #ff616f); */
    /* background-attachment: fixed; */
  }

  #Azim{
    border-radius: 50%;
    border: 5px solid black;
  }

  main {
    width: 70%;
    margin: auto;
    position: relative;
    border-radius: 5px;
    margin-top: 50px;
  }

  div {
    margin-bottom: 40px;
  }

  div#about-me{
    font-size: 17px;
  }

  #experience ul {
    list-style: none !important;
    list-style-type: none !important;
    padding: 0;
    margin: 0;
}

#experience li {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}
  /* For safari formatting */
  .experience-logo-rectangle, .experience-logo-square {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    object-fit: contain;
}

  .experience-logo-rectangle{
    height: 50px;
    width: 170px;
    margin-right: 50px;
  }

  .experience-logo-square{
    height: 68px;
    width: 68px;
    margin-right: 50px;
  }

  #projects > ul{
    list-style: none;
  }

  footer {
    height: 100px;
  }
  
  footer > p {
    padding: 37px;
  }

  #blueRed{
    background: linear-gradient(to right, #6185ff, #ff616f);
  }

  #purpleGreen {
    background: linear-gradient(to left, #34eb3d, #5f3dad);
  }

  #blue{
    background: rgb(10,10,200);
  }

  #green {
    background: rgb(25, 230, 85);
  }

  #red {
    background: rgb(250, 60, 30);
  }

  .color-button{
    border-radius: 5px;
    width: 150px;
    height: 100px;
    margin: 5px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    border: 2px solid black;
  }