body {
    font-family: "Consola", monospace;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    text-align: center;
    background: linear-gradient(to right, #6185ff, #ff616f);
    background-attachment: fixed;
  }

  #Azim{
    border-radius: 50%;
    border: 5px solid black;
  }

  main {
    width: 70%;
    margin: auto;
    position: relative;
    border-radius: 5px;
    margin-top: 50px;
  }

  div#about-me{
    font-size: 17px;
  }

  #projects > ul{
    list-style: none;
  }

  footer {
    height: 100px;
  }
  
  footer > p {
    padding: 37px;
  }